<div class="vertical-center-row">
  <div align="center">
    <div class="login-box">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="idlabel">Juror ID:</span>
          <input type="text" class="form-control" aria-describedby="idlabel">
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="nameLabel">Last Name:</span>
          <input type="text" class="form-control" aria-describedby="nameLabel">
        </div>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-primary btn-block">Login</button>
      </div>
    </div>
  </div>
</div>
