<div class="container center-container">
    <div class="vertical-center-row">
        <div align="center">
          <div class="content-box panel panel-default col-md-6 col-md-offset-3">
              <!-- Default panel contents -->
              <div class="panel-heading">Pre-Screen Questions</div>
              <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="submit()" ng-init="answers = []">
                  <div class="form-group" ng-repeat="question in questionList">
                    <label class="control-label col-sm-6" for="pwd">{{question.questionText}}</label>
                    <div class="col-sm-6">
                      <!-- <input type="text" class="form-control" id="pwd"> -->
                      <select class="form-control" ng-model="answers[question.questionID]" ng-options="item as item for item in question.expectedResponseType">
                        <!-- <option value="{{question.questionID}}" ng-repeat="response in question.expectedResponseType">
                          {{response}}
                        </option> -->
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block" ng-click="submit()">Submit</button>
                  </div>
                </form>
              </div>
        </div>
      </div>
</div>
