<div class="container center-container">
    <div class="vertical-center-row">
        <div align="center">
            <div class="content-box panel panel-default col-md-6 col-md-offset-3">
                <!-- Default panel contents -->
                <div class="panel-heading">{{fist_name}} {{last_name}} Account</div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="submit()">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="password">Password:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password" ng-model="user.password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="password1">Password Confirm:</label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control" id="password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">E-Mail:</label>
                            <div class="col-sm-6">
                                <input type="email" class="form-control" id="email" ng-model="user.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Phone:</label>
                            <div class="col-sm-6">
                                <input type="tel" class="form-control" id="phone" ng-model="user.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2">
                                <h2 class="comment"><i class="fa fa-comments-o"></i>&nbsp</h2>
                            </div>
                            <div class="col-xs-10">
                                We will be contacting you the night before your Jury service to remind you and with further
                                details. What method do you prefer we contact you?
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="pwd">Preferred Contact Method:</label>
                            <div class="col-sm-6">
                                <!-- <input type="text" class="form-control" id="pwd"> -->
                                <select class="form-control" ng-model = "user.contact_method">
                                    <option value="receiveCall">
                                        E-Mail
                                    </option>
                                    <option value="receiveEmail">
                                        Phone
                                    </option>
                                    <option value="receiveText">
                                        Text
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
