<div class="container center-container">
    <div class="vertical-center-row">
        <div align="center">
            <div class="content-box panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Finished!</div>
                <div class="panel-body">
                    <div class="img col-xs-12">
                        <div class="col-xs-12">
                            <img src="../../img/wavingPeople.jpg" class="img-responsive"/>
                            <hr/>
                            <h3 class="text-center text-grey">That's all folks</h3>
                            <p>
                                You don't meet the qualifications for jury duty. You are free to go.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
