<div class="container center-container">
    <div class="vertical-center-row">
        <div align="center">
            <div class="content-box panel panel-default col-md-6 col-md-offset-3">
                <!-- Default panel contents -->
                <div class="panel-heading">Your Finished!</div>
                <div class="panel-body">
                    <div class="img col-xs-12">
                        <div class="col-xs-12">
                            <img src="../../img/wavingPeople.jpg" class="img-responsive"/>
                            <hr/>
                            <h3 class="text-center text-grey">You're Done!</h3>
                            <p>
                                Thanks for taking the time to check in, unfortunately you are not qualified to serve as a
                                Juror at this time. Please have a wonderful day!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>