<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- <link href="/node_modules/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet"> -->
<!-- <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet"> -->

<style media="screen">

  body {
    font-family: 'Lato', sans-serif;
    background-color: #474747;
    }

  .content-box {
    max-width: 600px;
    /*padding: 30px;*/
    /*padding-top: 10px;*/
    /*margin-bottom: 120px;*/
    /*background-color: #ddd;*/
    /*border-radius: 5px;*/
    /*padding-bottom: 20px;*/
  }

  .panel-body {
    padding: 10px;
  }

    .login-box {
      max-width: 300px;
      padding: 30px;
      margin-bottom: 120px;
      background-color: #ddd;
      border-radius: 5px;
      padding-bottom: 20px;
    }

    body {
      font-family: 'Lato', sans-serif;
      background-color: #474747;
    }

    .btn-primary {
      background-color: #62bdcc;
      border-color: darker(#62bdcc);
    }
    .btn-primary:focus {
      background-color: #62bdcc;
    }

    html, body, .container {
        height: 100%;
    }
    .center-container {
        display: table;
        vertical-align: middle;
    }
    .vertical-center-row {
        display: table-cell;
        vertical-align: middle;
    }

</style>
<div class="container center-container">
    <div class="vertical-center-row">
        <div align="center">
          <div class="content-box panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Pre-Screen Questions</div>
              <div class="panel-body">
                <form class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="email">Age:</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-6" for="pwd">Resident of county:</label>
                    <div class="col-sm-6">
                      <!-- <input type="text" class="form-control" id="pwd"> -->
                      <select class="form-control">
                        <option>
                          Yes
                        </option>
                        <option>
                          No
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </form>
              </div>


            <!-- <div class="form-group">
              <input type="text" class="form-control" placeholder="Last Name">
            </div> -->
<!--
            <div class="form-group">
              <button type="button" class="btn btn-primary btn-block">Login</button>
            </div> -->
        </div>
      </div>
</div>
