.login-box {
    max-width: 300px;
    margin-bottom: 120px;
}
html, body, .container {
    height: 100%;
}
.login-container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}